html {
    scroll-behavior: smooth;
    /*width: 275px;*/
  }
  
  body {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

ul,
li,
ol {
  margin: 3px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

.title {
  font-size: 28px;
  color: red;
  font-family: 'Pacifico', sans-serif;
}

label {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}

img.logo {
  /*max-width: 10%;
  max-height: 10%;*/
  width: 50px;
}

.searchBar {
  width: 100%;
  border-radius: 2px;
  border: 1px solid grey;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}
